---
title: nbdev2 macbook test
output-file: core.html
description: testing new nbdev release on macbook m1 architecture
---

In [ ]:
#| default_exp core

In [ ]:
#| hide
from nbdev.showdoc import *
import pandas as pd
import numpy as np
from itertools import cycle

In [ ]:
#| export
def foo(): pass

In [ ]:
#|export
def say_hello(to):
    "Say hello to somebody"
    return f'Hello {to}!'

In [ ]:
say_hello("water")

'Hello water!'

## test index

In [ ]:
from IPython.display import display,SVG

In [ ]:
display(SVG('<svg height="100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="40"/></svg>'))

In [ ]:
assert say_hello("Hamel")=="Hello Hamel!"

In [ ]:
say_hello("Isaac")

'Hello Isaac!'

## test dataframe

In [ ]:
#|export

def generate_fake_dataframe(size, cols, col_names = None, intervals = None, seed = None):
    'generate long fake dataframe'
    
    categories_dict = {'animals': ['cow', 'rabbit', 'duck', 'shrimp', 'pig', 'goat', 'crab', 'deer', 'bee', 'sheep', 'fish', 'turkey', 'dove', 'chicken', 'horse'],
                       'names'  : ['James', 'Mary', 'Robert', 'Patricia', 'John', 'Jennifer', 'Michael', 'Linda', 'William', 'Elizabeth', 'Ahmed', 'Barbara', 'Richard', 'Susan', 'Salomon', 'Juan Luis'],
                       'cities' : ['Stockholm', 'Denver', 'Moscow', 'Marseille', 'Palermo', 'Tokyo', 'Lisbon', 'Oslo', 'Nairobi', 'Río de Janeiro', 'Berlin', 'Bogotá', 'Manila', 'Madrid', 'Milwaukee'],
                       'colors' : ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'purple', 'pink', 'silver', 'gold', 'beige', 'brown', 'grey', 'black', 'white']
                      }
    default_intervals = {"i" : (0,10), "f" : (0,100), "c" : ("names", 5), "d" : ("2020-01-01","2020-12-31")}
    rng = np.random.default_rng(seed)

    first_c = default_intervals["c"][0]
    categories_names = cycle([first_c] + [c for c in categories_dict.keys() if c != first_c])
    default_intervals["c"] = (categories_names, default_intervals["c"][1])
    
    if isinstance(col_names,list):
        assert len(col_names) == len(cols), f"The fake DataFrame should have {len(cols)} columns but col_names is a list with {len(col_names)} elements"
    elif col_names is None:
        suffix = {"c" : "cat", "i" : "int", "f" : "float", "d" : "date"}
        col_names = [f"column_{str(i)}_{suffix.get(col)}" for i, col in enumerate(cols)]

    if isinstance(intervals,list):
        assert len(intervals) == len(cols), f"The fake DataFrame should have {len(cols)} columns but intervals is a list with {len(intervals)} elements"
    else:
        if isinstance(intervals,dict):
            assert len(set(intervals.keys()) - set(default_intervals.keys())) == 0, f"The intervals parameter has invalid keys"
            default_intervals.update(intervals)
        intervals = [default_intervals[col] for col in cols]
    df = pd.DataFrame()
    for col, col_name, interval in zip(cols, col_names, intervals):
        if interval is None:
            interval = default_intervals[col]
        assert (len(interval) == 2 and isinstance(interval, tuple)) or isinstance(interval, list), f"This interval {interval} is neither a tuple of two elements nor a list of strings."
        if col in ("i","f","d"):
            start, end = interval
        if col == "i":
            df[col_name] = rng.integers(start, end, size)
        elif col == "f":
            df[col_name] = rng.uniform(start, end, size)
        elif col == "c":
            if isinstance(interval, list):
                categories = np.array(interval)
            else:
                cat_family, length = interval
                if isinstance(cat_family, cycle):
                    cat_family = next(cat_family)
                assert cat_family in categories_dict.keys(), f"There are no samples for category '{cat_family}'. Consider passing a list of samples or use one of the available categories: {categories_dict.keys()}"
                categories = rng.choice(categories_dict[cat_family], length, replace = False, shuffle = True)
            df[col_name] = rng.choice(categories, size, shuffle = True)
        elif col == "d":
            df[col_name] = rng.choice(pd.date_range(start, end), size)
    return df

In [ ]:
generate_fake_dataframe(size = 1000, cols =  "cififficcdccc")

,column_0_cat,column_1_int,column_2_float,column_3_int,column_4_float,column_5_float,column_6_int,column_7_cat,column_8_cat,column_9_date,column_10_cat,column_11_cat,column_12_cat
0,James,5,0.904110,5,57.303631,84.095357,4,fish,Lisbon,2020-06-03,silver,Barbara,bee
1,Patricia,2,25.543565,0,64.699000,2.940106,6,fish,Denver,2020-07-25,pink,Ahmed,turkey
2,William,9,59.624302,0,70.583735,87.680844,4,deer,Lisbon,2020-04-09,red,Jennifer,fish
3,Jennifer,8,59.863999,8,34.091363,18.825450,4,shrimp,Bogotá,2020-08-10,orange,Barbara,fish
4,James,3,76.642907,4,52.604497,48.695283,3,cow,Denver,2020-06-14,black,Richard,deer
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,James,8,35.574660,8,38.256483,84.167187,8,shrimp,Palermo,2020-07-03,pink,Jennifer,crab
996,Patricia,6,67.517789,9,70.511650,0.865597,7,deer,Lisbon,2020-04-28,black,Susan,bee
997,Susan,3,8.884876,6,13.090573,34.400994,1,cow,Lisbon,2020-03-07,silver,Jennifer,bee
998,Susan,7,30.669957,6,50.907142,81.276179,4,shrimp,Lisbon,2020-06-18,silver,Ahmed,crab
999,James,0,7.220943,8,18.628057,89.810038,6,cow,Palermo,2020-11-08,black,Jennifer,deer

testing text with long dataframes

In [ ]:
generate_fake_dataframe(size = 1000, cols =  "cififficcdccdddcffic")

,column_0_cat,column_1_int,column_2_float,column_3_int,column_4_float,column_5_float,column_6_int,column_7_cat,column_8_cat,column_9_date,column_10_cat,column_11_cat,column_12_date,column_13_date,column_14_date,column_15_cat,column_16_float,column_17_float,column_18_int,column_19_cat
0,Michael,9,17.227993,8,65.825569,30.424230,5,goat,Denver,2020-12-07,beige,Salomon,2020-11-18,2020-08-05,2020-06-25,pig,37.408350,65.024381,1,Berlin
1,Barbara,6,10.855989,0,77.625678,96.249864,6,goat,Marseille,2020-11-20,grey,William,2020-09-09,2020-06-12,2020-02-04,chicken,7.193010,97.096641,7,Stockholm
2,Richard,1,92.371233,1,39.569266,5.474298,7,cow,Río de Janeiro,2020-06-20,yellow,Salomon,2020-04-02,2020-07-22,2020-01-11,cow,45.646262,3.659981,9,Madrid
3,Michael,8,64.809050,1,32.713963,4.530489,9,shrimp,Denver,2020-10-06,yellow,William,2020-07-01,2020-12-29,2020-03-14,cow,56.709389,28.545267,7,Bogotá
4,Michael,8,60.035750,2,21.631063,90.235080,4,goat,Río de Janeiro,2020-02-19,yellow,Salomon,2020-08-19,2020-03-02,2020-07-14,cow,60.596227,92.941387,3,Bogotá
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Salomon,0,18.956490,2,7.220054,7.434632,8,dove,Bogotá,2020-06-01,silver,Richard,2020-03-19,2020-08-04,2020-01-04,turkey,29.408496,42.645585,1,Bogotá
996,Salomon,3,96.666313,7,81.743124,21.132634,9,cow,Tokyo,2020-10-22,silver,Robert,2020-12-20,2020-11-09,2020-03-02,pig,33.546885,26.032960,1,Stockholm
997,Barbara,7,76.294548,5,46.348386,91.128162,5,goat,Marseille,2020-01-18,red,Salomon,2020-05-14,2020-10-24,2020-08-08,pig,62.515596,65.985085,4,Bogotá
998,William,1,42.269618,7,57.440892,4.595503,9,fish,Denver,2020-02-27,silver,Ahmed,2020-06-13,2020-03-22,2020-11-12,turkey,2.511715,40.509542,9,Berlin
999,Salomon,1,9.945709,2,70.581563,39.874888,5,fish,Tokyo,2020-03-24,red,Robert,2020-12-04,2020-10-29,2020-01-07,cow,27.922362,97.921424,8,Stockholm

In [ ]:
#| hide
import nbdev
nbdev.nbdev_export()