---
title: nbdev2 macbook test
output-file: core.html
description: testing new nbdev release on macbook m1 architecture
---

In [ ]:
#| default_exp core

In [ ]:
#| hide
from nbdev.showdoc import *
import pandas as pd
import numpy as np
from itertools import cycle

In [ ]:
#| export
def foo(): pass

In [ ]:
#|export
def say_hello(to):
    "Say hello to somebody"
    return f'Hello {to}!'

In [ ]:
say_hello("water")

'Hello water!'

## test index

In [ ]:
from IPython.display import display,SVG

In [ ]:
display(SVG('<svg height="100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="40"/></svg>'))

In [ ]:
assert say_hello("Hamel")=="Hello Hamel!"

In [ ]:
say_hello("Isaac")

'Hello Isaac!'

## test dataframe

In [ ]:
#|export

def generate_fake_dataframe(size, cols, col_names = None, intervals = None, seed = None):
    'generate long fake dataframe'
    
    categories_dict = {'animals': ['cow', 'rabbit', 'duck', 'shrimp', 'pig', 'goat', 'crab', 'deer', 'bee', 'sheep', 'fish', 'turkey', 'dove', 'chicken', 'horse'],
                       'names'  : ['James', 'Mary', 'Robert', 'Patricia', 'John', 'Jennifer', 'Michael', 'Linda', 'William', 'Elizabeth', 'Ahmed', 'Barbara', 'Richard', 'Susan', 'Salomon', 'Juan Luis'],
                       'cities' : ['Stockholm', 'Denver', 'Moscow', 'Marseille', 'Palermo', 'Tokyo', 'Lisbon', 'Oslo', 'Nairobi', 'Río de Janeiro', 'Berlin', 'Bogotá', 'Manila', 'Madrid', 'Milwaukee'],
                       'colors' : ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'purple', 'pink', 'silver', 'gold', 'beige', 'brown', 'grey', 'black', 'white']
                      }
    default_intervals = {"i" : (0,10), "f" : (0,100), "c" : ("names", 5), "d" : ("2020-01-01","2020-12-31")}
    rng = np.random.default_rng(seed)

    first_c = default_intervals["c"][0]
    categories_names = cycle([first_c] + [c for c in categories_dict.keys() if c != first_c])
    default_intervals["c"] = (categories_names, default_intervals["c"][1])
    
    if isinstance(col_names,list):
        assert len(col_names) == len(cols), f"The fake DataFrame should have {len(cols)} columns but col_names is a list with {len(col_names)} elements"
    elif col_names is None:
        suffix = {"c" : "cat", "i" : "int", "f" : "float", "d" : "date"}
        col_names = [f"column_{str(i)}_{suffix.get(col)}" for i, col in enumerate(cols)]

    if isinstance(intervals,list):
        assert len(intervals) == len(cols), f"The fake DataFrame should have {len(cols)} columns but intervals is a list with {len(intervals)} elements"
    else:
        if isinstance(intervals,dict):
            assert len(set(intervals.keys()) - set(default_intervals.keys())) == 0, f"The intervals parameter has invalid keys"
            default_intervals.update(intervals)
        intervals = [default_intervals[col] for col in cols]
    df = pd.DataFrame()
    for col, col_name, interval in zip(cols, col_names, intervals):
        if interval is None:
            interval = default_intervals[col]
        assert (len(interval) == 2 and isinstance(interval, tuple)) or isinstance(interval, list), f"This interval {interval} is neither a tuple of two elements nor a list of strings."
        if col in ("i","f","d"):
            start, end = interval
        if col == "i":
            df[col_name] = rng.integers(start, end, size)
        elif col == "f":
            df[col_name] = rng.uniform(start, end, size)
        elif col == "c":
            if isinstance(interval, list):
                categories = np.array(interval)
            else:
                cat_family, length = interval
                if isinstance(cat_family, cycle):
                    cat_family = next(cat_family)
                assert cat_family in categories_dict.keys(), f"There are no samples for category '{cat_family}'. Consider passing a list of samples or use one of the available categories: {categories_dict.keys()}"
                categories = rng.choice(categories_dict[cat_family], length, replace = False, shuffle = True)
            df[col_name] = rng.choice(categories, size, shuffle = True)
        elif col == "d":
            df[col_name] = rng.choice(pd.date_range(start, end), size)
    return df

In [ ]:
generate_fake_dataframe(size = 1000, cols =  "cififficcdccc")

,column_0_cat,column_1_int,column_2_float,column_3_int,column_4_float,column_5_float,column_6_int,column_7_cat,column_8_cat,column_9_date,column_10_cat,column_11_cat,column_12_cat
0,Juan Luis,7,44.556736,9,27.574582,53.739837,2,rabbit,Lisbon,2020-01-30,blue,William,sheep
1,Mary,1,50.689805,8,51.234937,74.843823,5,pig,Tokyo,2020-12-11,yellow,Mary,sheep
2,James,3,99.967479,5,18.333957,81.617913,5,bee,Milwaukee,2020-12-22,grey,Mary,chicken
3,Mary,6,84.538407,5,71.253736,72.037221,3,deer,Lisbon,2020-08-08,purple,Mary,chicken
4,James,6,84.779743,6,85.114572,86.207943,7,pig,Nairobi,2020-02-26,blue,John,cow
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Jennifer,4,37.032585,7,61.963205,32.666500,8,turkey,Tokyo,2020-05-24,yellow,John,pig
996,Jennifer,1,14.679047,4,87.618227,85.530013,9,bee,Milwaukee,2020-05-22,red,John,pig
997,Ahmed,1,54.130130,0,90.921640,4.158560,8,pig,Lisbon,2020-11-25,purple,Mary,sheep
998,Jennifer,5,77.116210,0,46.146542,21.446263,5,bee,Lisbon,2020-08-30,blue,Juan Luis,pig
999,James,3,39.471196,1,19.958538,95.776584,3,turkey,Nairobi,2020-01-18,grey,Juan Luis,pig

testing text with long dataframes

In [ ]:
generate_fake_dataframe(size = 1000, cols =  "cififficcdccdddcffic")

,column_0_cat,column_1_int,column_2_float,column_3_int,column_4_float,column_5_float,column_6_int,column_7_cat,column_8_cat,column_9_date,column_10_cat,column_11_cat,column_12_date,column_13_date,column_14_date,column_15_cat,column_16_float,column_17_float,column_18_int,column_19_cat
0,Patricia,6,69.721553,7,86.346497,37.741745,6,deer,Tokyo,2020-10-22,beige,Juan Luis,2020-05-18,2020-07-22,2020-03-21,horse,35.563329,93.722341,7,Bogotá
1,Salomon,2,18.881525,6,71.772756,62.005372,5,turkey,Manila,2020-05-21,grey,Patricia,2020-09-07,2020-12-25,2020-07-12,horse,90.888660,44.537417,6,Bogotá
2,Elizabeth,3,75.186435,2,2.324480,43.250438,0,turkey,Tokyo,2020-09-22,blue,William,2020-09-17,2020-04-23,2020-07-10,horse,37.468227,90.516723,0,Moscow
3,William,5,16.479049,5,60.833418,9.677398,8,goat,Manila,2020-01-12,beige,Elizabeth,2020-03-11,2020-11-03,2020-04-17,turkey,88.670140,31.702338,1,Moscow
4,Patricia,2,61.450279,6,19.792837,87.532833,4,sheep,Denver,2020-03-28,black,Juan Luis,2020-06-18,2020-03-01,2020-03-08,cow,23.114031,97.822928,6,Marseille
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Susan,6,87.374218,3,51.134108,85.554469,5,deer,Manila,2020-10-27,beige,William,2020-10-14,2020-09-03,2020-11-22,bee,66.033139,60.210386,6,Stockholm
996,Salomon,4,27.255228,9,24.789030,59.427994,6,sheep,Manila,2020-01-31,blue,Patricia,2020-06-08,2020-09-10,2020-07-28,horse,69.845838,24.127477,1,Denver
997,Susan,0,74.965014,4,4.021164,13.676445,1,rabbit,Manila,2020-03-12,black,Elizabeth,2020-05-04,2020-04-20,2020-10-30,bee,36.184549,7.430937,2,Stockholm
998,Patricia,8,9.547279,3,48.651543,84.171122,7,turkey,Oslo,2020-08-28,blue,Juan Luis,2020-12-27,2020-06-02,2020-09-02,cow,65.986634,41.024531,6,Marseille
999,Susan,6,20.170685,5,15.125931,38.588585,5,rabbit,Manila,2020-08-30,grey,Patricia,2020-03-04,2020-02-19,2020-10-06,turkey,69.263229,34.206653,4,Stockholm

# | hide
import nbdev
nbdev.nbdev_export()